.container {
    background: white;
    position: fixed;
    top:0;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
}
.container .menuContainer{
    width: 250px;
    background: #404040;
    float: left;
    height: 100%;
}

.container .contentContainer {
    /*overflow-y: scroll;*/
    margin-left: 250px;
}

.container .contentContainer h2 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
}

.container .adminHeader {
    background: #ccc;
    height: 50px;
    margin-left: 250px;
}
